<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset = "UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<header>
		<div class="wrapper">
			<div class="logo">
				<img src="images/logo.png" alt ="">
			</div>
				<ul class="nav-area">
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Register</a></li>
				</ul>
			</div>
			<div class="Welcome-text">
			<h1>Ready to shop online?</h1>
			
			</div>
	</header>
</body>
</html>